* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #555;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.container {
  position: relative;
  width: clamp(300px, 80vw, 800px);
  height: clamp(180px, 62vw, 500px);
}

.clip {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s; 
}

.clip1 {
  background: url(assets/Zoro_LiveAction.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 25% 0, 35% 100%, 0 100%);
}

.clip2 {
  background: url(assets/Luffy_Crew.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(25% 0, 75% 0, 65% 100%, 35% 100%);
}

.clip3 {
  background: url(assets/Sanji_LiveAction.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(75% 0, 100% 0, 100% 100%, 65% 100%);
}

.container:hover .clip{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

button {
  padding: 0.6rem 1rem;
  margin: 0.6rem 1rem;
  color: #fff;
  background-color: #555;
  border: 1px solid #fff;
}

@media (min-width: 500px) {
  .phone-only {
    display: none;
  }
}