.hover_border a {
  text-decoration: none;
  font-size: clamp(10px, 2.5vw, 2rem);

  padding: 0.5rem 1rem;
  
  position: relative;
}

.hover_border a::before {
  content: "";
  position: absolute;

  border-top: 2px solid #fff;
  background-color: transparent;

  height: 0%;
  width: 0%;

  top: 0;
  left: 0;
  
  transition: all 0.5s;
}

.hover_border a::after {
  content: "";
  position: absolute;

  border-bottom: 2px solid #fff;
  background-color: transparent;
  
  height: 0%;
  width: 0%;

  bottom: 0px;
  right: 0px;

  transition: all 0.5s;
}

.hover_border a:hover::before,
.hover_border a:hover::after {

  width: 100%;
}