.hover_border > a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1.2rem, 5vw, 2rem);
  padding: 2rem 4rem;
  position: relative;
}

.hover_border > a::before {
  content: "";
  position: absolute;

  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  background-color: transparent;

  height: 10%;
  width: 10%;

  top: 0;
  left: 0;

  transition: all 0.5s;
}

.hover_border > a::after {
  content: "";
  position: absolute;

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;

  height: 10%;
  width: 10%;

  bottom: 0px;
  right: 0px;

  transition: all 0.5s;
}

.hover_border > a:hover::before,
.hover_border > a:hover::after {
  height: 90%;
  width: 90%;
}