.zoom_effect > a {
  color: #000;
  background-color: #fff;
  text-decoration: none;

  font-size: clamp(1.2rem, 5vw, 2rem);
  font-weight: bold;
  padding: 2rem 4rem;

  border-radius: 50px;

  position: relative;
}

.zoom_effect > a::before {
  content: "";
  position: absolute;

  background-color: #fff;
  border-radius: 50px;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  
  transition: all 0.5s;
}

.zoom_effect > a:hover::before {
  transform: scaleX(1.4) scaleY(1.4);
  opacity: 0;
}