* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px;
}

.loader .load {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  animation: load 1s ease infinite;
}

.loader .load.one {
  animation-delay: 0.2s;
}

.loader .load.two {
  animation-delay: 0.4s;
}

.loader .load.three {
  animation-delay: 0.6s;
}

.loader .load.four {
  animation-delay: 0.8s;
}

.loader .load.five {
  animation-delay: 1s;
}

@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  20% {
  width: 20px;
  height: 20px;
  }
}